h1 {
    font-size: 4em;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 1em;

}

.projects {
    transition: .2s all;
    padding-bottom: 15px;
}

.projects:hover {
    font-size: 1.1em;
    font-weight: 700;
    color: black;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
}

.myName {
    font-size: 2em;
    text-align: center;
    width: 100%;
    display: block;
    margin: 20px;
    margin-top: 70px;
    font-weight: 700;
}

.myDesc {
    width: 100%;
text-align: center;
display: block;
font-size: 1.2em;
margin: 20px;
margin-bottom: 70px;
}

.heroImage {
    max-height: 500px;
    overflow: hidden;
}

.projectPage {
    padding:0;
}

.overview {
    margin-top: 2em;
}

.basicInfo {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4em;
    justify-content: flex-end;
    .smallInfo {
        .title {
            font-weight: bold;
            text-transform: uppercase;
            display: block;
        }
        .info {
            font-size: .85em;
            display: block;
        }
        .timeframe {
        }
        .roles {
            margin-top: .5em;
        }
        .skills {
            margin-top: .5em;
        }
        .collaborators {
            margin-top: .5em;
        }
    }
    .largeInfo {
        .title {
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
            display: block;
        }
        .info {
            font-size: 1em;
        }
        .goal {
            margin-top: 1.5em;
        }
        .solution{
            margin-top: 1.5em;
        }
    }
}

a {
   text-decoration:none;}

 /*Gray Link Styling*/
a:hover{
    color:#666666;
    text-decoration:none;
  }

 a:visited{
    color:#999999;
  }

 a:hover{
    color:#666666;
    text-decoration:none;
  }

 a {
    color:#999999;
  }

 a{
   -webkit-transition-timing-function: ease;
   -webkit-transition: .5s; /* Safari */
   transition: .5s;
   }

.titleHome {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.backButton {
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 10px 30px;
    background: rgba(255,255,255,.5);
    margin: 10px;
    font-size: 1.5em;
    font-weight: 100;
}

.section {
    margin-top: 3em;
    .sectionTitle {
        font-size: 3em;
        font-weight: bold;
    }
    .textBlock {
        margin: 0px 10px;
    }
    .quoteRow{
        background: grey;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        margin: 1.5em -15px;
        .quote {
            margin: 2em auto;
            width: 50%;
            text-align: center;
        }
    }
    .subhead {
        font-weight: bold;
        display: block;
        margin-top: 1.25em;
        font-size: 1.5em;
    }
}
